:root {
    --primary-color: #9792e4;
    --secondary-color: #0084fd;
    --card-bg-color: #b5ddff;
    --text-color: #647a8d;
    --border-radius-big: 30px;
    --border-radius-small: 15px
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main > section {
    padding: 3rem 0;
}

main > section:nth-of-type(even) {
    padding: 3rem 0;
    background-color: var(--primary-color);
    color: white;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GRID */

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

#planning .container,
#about-us .container {
    max-width: 900px;
    display: flex;
    padding: 15px;
}

#get-started .container,
#footer .container {
    max-width: 480px;
    margin: 0 auto;
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

[class*='col'] {
    padding: 15px;
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-2-3 {
    width: calc(100% / 3 * 2);
}

.col-1-2 {
    width: 50%;
}

.card {
    padding: 15px;
}

 /* UTILS */

img {
    display: block;
    max-width: 100%;
}

#demo img,
#planning .col-right img {
    width: 70%;
}

.img-round {
    border-radius: 50%;
    height: 150px;
    width: 150px;background-color: var(--primary-color);
    color: white;
    overflow: hidden;
    line-height: 100px;
    font-size: 2rem;
    text-align: center;
}

.img-round img {
    height: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: .8rem;
    padding: 15px 0;
    line-height: 25px;
}

#demo p{
    text-align: center;
}

/* HEADER */

#header {
    background-color: var(--secondary-color);
}

#header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
}

#header li {
    padding-left: 20px;
}

#header li:last-child {
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin-left: 15px;
    border-radius: var(--border-radius-small);
}

#header .button {
    display: none;
    background-color: var(--secondary-color);
    border: none;
}

/* MAIN */

/* Demo section */

#demo .card {
    color: var(--text-color);
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius-small);
    min-height: 270px;
}

#demo .col-2-3 .card {
    display: flex;
    padding-bottom: 0;
}

#demo .card-text,
#demo .card-image {
    width: 50%;
    padding-bottom: 0;
    line-height: 25px;
}

#demo .card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#demo h3 {
    color: var(--secondary-color);
}

#demo .col-2-3 p {
    text-align: start;
}

#demo a {
    max-width: 168px;
    color: white;
    padding: 10px 40px;
    margin-left: 15px;
    margin-bottom: 30px;
    border-radius: var(--border-radius-small);
    background-color: var(--secondary-color);
}

#demo .card-image {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 0;
}

#demo .col-1-3 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#demo .col-1-3 i {
    font-size: 4rem;
    color: var(--secondary-color)
}


/* Planning section */


#planning .container {
    justify-content: center;
}

#planning .col {
    width: 40%;
}

#planning .card {
    border-radius: var(--border-radius-big);
}

#planning .col-left img {
    padding-bottom: 80px;
}

#planning h2 {
    font-size: 1.5rem;
    padding: 25px 0;
}

#planning .col-right {
    align-self: flex-end;
}

#planning .col-right .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: white;
    color: black;
}

#planning .col-right h3 {
    padding-top: 15px;
}

#planning .col-right p {
    font-style: italic;
}

#planning button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
    padding: 5px;
}

/* Testimonials section */

#testimonials .card {
    background-color: var(--primary-color);
    margin: 15px 0;
    border-radius: var(--border-radius-big);
    color: white;
}

#testimonials .card.white {
    color: var(--text-color);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#testimonials .card.white h2 {
    font-size: 2rem;
    color: var(--primary-color);
    padding: 20px 0;
}

#testimonials .card.white span {
    padding-top: 10px;
}

#testimonials .card.purple {
    display: flex;
}

#testimonials .img-round {
    margin: 10px;
}

#testimonials .card.purple .img {
    margin-right: 20px;
}

#testimonials .card.purple .text {
    width: 80%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#testimonials .card.purple h3 {
    padding: 20px 0;
}


/* Benefit section */

#benefit h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

#benefit .card {
    background-color: white;
    color: var(--text-color);
    padding: 60px 25px;
    border-radius: var(--border-radius-small);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#benefit span {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
}

#benefit h3 {
    color: var(--primary-color);
}

#benefit button {
    padding: 6px 30px;
    background-color: var(--primary-color);
    color: white;
    border-radius: var(--border-radius-small);
    border: none;
    font-size: .7rem;
}


/* About-us section */

#about-us .card-left {
    padding-right: 100px;
}

#about-us .card-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about-us h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    padding-bottom: 20px;
}

#about-us .img {
    position: relative;
}

#about-us span {
    font-size: 1.4rem;
    color: var(--primary-color);
    position: absolute;
    top: 5px;
    right: 0px;
}

#about-us h4 {
    max-width: 200px;
    font-size: 1.2rem;
    padding: 15px 0;
    line-height: 28px;
    text-align: start;
    color: var(--primary-color);
    font-weight: bolder;
}

#about-us a {
    max-width: 125px;
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 5px 8px;
    border-radius: var(--border-radius-small);
    font-size: .7rem;
}

/* Get-Started section */

#get-started {
    text-align: center;
}

#get-started span {
    font-size: .8rem;
    color: var(--text-color);
}

#get-started h3 {
    font-size: 1.8rem;
    padding: 15px 0;
}

#get-started h2 {
    font-size: 3rem;
    color: #fdc159;
}

#get-started p {
    font-size: .7rem;
    padding: 10px 60px;
}

#get-started button {
    padding: 15px 45px;
    color: var(--primary-color);
    background-color: white;
    border-radius: var(--border-radius-big);
    border: none;
    margin: 10px auto;
}

#get-started a {
    text-decoration: underline;
}

/* FOOTER */

#footer {
    text-align: center;
    color: white;
    background-color: #333333;
}

#footer p {
    padding: 20px 0;
}

#footer span {
    color: var(--primary-color);
    text-decoration: underline;
}
