/* MAIN */

@media screen and (max-width: 480px) {

    /* Demo section */

    #demo .col-2-3 .card {
        display: block;
    }

    .row .col-2-3,
    .row .col-1-3 {
        width: 100%;
    }

    #demo .card-image {
        justify-content: center;
    }

    /* Testimonials section */

    #testimonials .card.purple {
        flex-direction: column;
        align-items: center;
    }
    
    /* Benefit section */

    #benefit .col-1-3 {
        width: 100%;
    }

    /* About-us section */

    #about-us .container {
        display: block;
    }

    #about-us .card {
        width: 100%;
    }
}