@media screen and (max-width: 768px) {
    
    /* HEADER */
    #header .navbar {
        display: none;
    }

    #header .button {
        display: block;
        
    }

     /* MAIN */

    /* Demo section */

    #demo .col-2-3 .card {
        display: block;
    }

    #demo .col-2-3 .card-text,
    #demo .col-2-3 .card-image {
        width: 100%;
    }

    #demo .card-image {
        justify-content: left;
    }

    /* Planning section */

    #planning .container {
        display: block;
    }

    #planning .col {
        width: 100%;
    }

    /* Benefit section */

    #benefit .col-1-3 {
        width: 50%;
    }
}

