@media screen and (max-width: 768px) {
    
    /* HEADER */
    #header .navbar {
        display: none;
    }

    #header .button {
        display: block;
        
    }

     /* MAIN */

    /* Demo section */

    #demo .col-2-3 {
        display: block;
    }

    #demo .col-2-3 > .card {
        width: 100%;
    }

    /* Planning section */

    #planning .wrapper {
        display: block;
    }

    #planning .col {
        width: 100%;
    }

    /* Benefit section */

    #benefit .col-1-3 {
        width: 50%;
    }
}

